@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    background-image: url(images/bg.png);
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: 150vw;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

#mind{
    position: absolute;
    width: 30vw;
    height: 30vw;
    margin-left: 0vw;
    margin-top: 0vw;
}
    #pfp{
        position: absolute;
        width: 30vw;
        height: 30vw;
        margin-left: 35vw;
        margin-top: 7vw;
        border-radius: 15vw; 
    }
    #syiv{
        position: absolute;
        width: 30vw;
        margin-left: 35vw;
        margin-top: 41vw;
    }

#heart{
    position: absolute;
    margin-left: 0vw;
    margin-top: 0vw;
}
    #right{
        position: absolute;
        margin-left: 0vw;
        margin-top: 0vw;
    }
        #rightValve{
            position: absolute;
            width: 35vw;
            margin-left: 65vw;
            margin-top: -1vw;
        }
        #xitter{
            position: absolute;
            width: 16vw;
            margin-left: 69vw;
            margin-top: 13vw;
        }
        #bsky{
            position: absolute;
            width: 18.5vw;
            margin-left: 79.9vw;
            margin-top: 49.5vw;
        }
    #left{
        position: absolute;
        margin-left: 0vw;
        margin-top: 0vw;
    }
        #leftValve{
            position: absolute;
            width: 35vw;
            margin-left: 0vw;
            margin-top: -1vw;
        }
        #instagram{
            position: absolute;
            width: 16vw;
            margin-left: 15vw;
            margin-top: 10.4vw;
        }
        #farmulator{
            position: absolute;
            width: 17.3vw;
            margin-left: 3vw;
            margin-top: 43.3vw;
        }

#soul{
    position: absolute;
    margin-left: 0vw;
    margin-top: 90vw;
}
    .art{
        width: 70vw;
        margin-left: 15vw;
        margin-top: 2vw;
        border-radius: 2vw;
    }
    #fcTitle{
        width: 64vw;
        height: 9.5vw;
        margin-left: 18vw;
        margin-top: 2vw;
        border-radius: 2vw;
        padding: 0vw;
        padding-top: 1vw;
        font-size: 6vw;
        text-align: center;
        border-style: dashed;
        border-color: bisque;
        background-color: #2a3950;
        color: #efb65b;
    }
    .fc{
        width: 75vw;
        height: 6.7vw;
        margin-left: 12.5vw;
        margin-top: 2vw;
        border-radius: 2vw;
        padding: 0vw;
        font-size: 5vw;
        text-align: center;
        border-style:ridge;
        border-color: #000000;
        background-color: #efb65b;
        color: #2a3950;
    }





.linkTxt{
    position: relative;
    display: none;
    font-size: 4vw;
    font-weight:400 ;
    background-repeat: no-repeat;
    border-width: 0vw; 
    border-radius: 1vw;
    color: rgb(199, 189, 255);
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}